* {
    font-family: Helvetica;
    color: seashell;
    text-align: center;
    
}

body {
    background-color: black;
    opacity: 0.9;
    box-sizing: border-box;
    margin: 0;
}

main {
    margin-top: 69px;
}

#header-container { 
    height: 69px;
    border-bottom: 1px solid seashell;
    width:100%;
    top: 0px;
    position: fixed;
    z-index: 10;
    margin: 0;
    background-color: black;
    
}

#logo-img {
    height: 50px;
    width: auto;
    float:left;
    padding: 10px;
}

#nav {
    float: right;
    font-size: 22px;
}

nav ul {
    list-style: none;
}

nav li {
    display: inline-flex;
    padding: 0 25px 0 25px;
}

#mission-img {
    width: 1200px;
    height: 700px;
}

#banner {
    width: 1200px;
    height: 700px;
    margin: 0 auto;
    top: 69px;
}

#mission-text {
    position: relative;
    top: -450px;
    background-color: black;
    padding: 2px;
}

.tea-images {
    margin: 10px;
}

.tea-images img {
    height: 200px;
    width: 300px;
    margin-bottom: 10px;

}

#tea-flex {
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 0 auto;
    justify-content: center;
    
}


#locations h2 {
    padding-top: 25px;
}

footer {
    margin: 0 auto;
    width: 1200px;
}

footer h3 {
    text-align: left;
}

.locations-flex {
    display: flex;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
    height: 500px;
    max-width: 1200px;
    margin: 10px auto;
    background-image: url(./images/img-locations-background.jpg);
    background-repeat: no-repeat;

}

#location-items {
    background-color: black;
    opacity: 1;
    width: 300px;
    padding: 20px 0 20px 0;  
}

#location-items h3, #location-items h4 {

}